body {
    overflow-x: hidden;
}

#gradient {
    height: 200px;
}

#menu-container-top ul {
    padding: 0 0 30px 0;
}

#footer .copyright, #footer .address {
    display: inline-block;
    font-size: .9em;
    font-weight: 600;
    position: absolute;
    width: 99%;
    max-width: 1440px;
    margin: 0 auto;
}

#footer .copyright {
    text-align: left;
    left: 10px;
    right: 0;
}

#footer .address {
    text-align: right;
    right: 10px;
    left: 0;
}

#footer .seperator:before {
    content: "|";
    padding: 0 10px 0 10px;
}

#menu-container-top ul.main-menu li {
    margin: 0 30px 0 30px;
}

#menu-container-top ul.main-menu li:last-of-type {
    display: none;
}

div#main-index h1 {
    font-size: 3.2em;
    max-width: 60%;
}

div.dog-div {
    display: table-row;
}

div.dog-div div {
    width: 50%;
    display: table-cell;
}

div.dog-div div picture * {
    width: 100%;
}

#vegan-dogs .info-box {
    position: relative;
    left: 50%;
    right: auto;
}

#vegan-dogs .picture-box {
    position: relative;
    left: -50%;
    right: auto;
}

div.dog-div .info-box {
    padding: 9%;
}

div.dog-div .info-box h2:before {
    display: inline-block;
    margin: 0 20px 0 -55px;
}
